@model EventDto

@{
    ViewData["Title"] = "Edit";
}
<div class="container"> 
<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Route</label>
                @Html.DropDownListFor(r=>r.RouteId, new SelectList(Model.AvailableRoutes, nameof(RouteDto.Id),nameof(RouteDto.Name)),"Select route",new {@class="form-control"})
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShareRide" /> Share Ride
                </label>
            </div>*@
            <div class="form-group form-check">
                <br />
                <label class="form-check-label"></label>
                <input class="form-check-input" asp-for="IsPrivate" /> Is Private
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary red-button" />
                <a class="btn btn-secondary grey-button" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>