<link rel="stylesheet" href="~/css/home.css">

<div class="fluid-container parent">
    <div class="header-images">
        <img class="headerBikeImage header-images" src="/lib/img/RoutesHeader.jpg" />
        <img class="black-mesh1 header-images" src="/lib/img/black-mesh1.png" />
        <p class="headerTitle">Routes</p>
            <span class="headerText">Feel free to find the best route perfectly fited for you or create your own and share it with our great comunnity</span>
        <div class="container scroll-animation" id="scroll-anim">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="text">Scroll down</span>
        </div>
    </div>
</div>