@model RouteViewModel
@{
    var apiKey = ViewData["ApiKey"];
    var originLatLng = $"{Model.StartingPosition.Latitude},{Model.StartingPosition.Longitude}";
    var destinationLatLng = $"{Model.DestinationPosition.Latitude},{Model.DestinationPosition.Longitude}";
}
<div>
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/directions?key=@apiKey&origin=@originLatLng&destination=@destinationLatLng">
    </iframe>
</div>
