@{
    var apiKey = ViewBag.apiKey;
}
<div>
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/directions?key=@apiKey&origin=Krakow+Polska&destination=Warszawa+Polska">
    </iframe>
</div>
