@model RouteDto
@{
    var reviewsLinkContent = $"{@Model.ReviewsCount} ";
    if (Model.ReviewsCount == 1)
        reviewsLinkContent += "review";
    else
        reviewsLinkContent += "reviews";

}
<div>
    <div class="route-rating" style="display:inline-block">
    <input type="hidden" asp-for="@Model.AverageScore" id="rating-value" />
    </div>
    <div class="display-inline">
        <a  asp-action="Reviews" asp-route-id="@Model.Id">@reviewsLinkContent</a>
    </div>
       
</div>