@model RouteViewsModel

<form asp-action="Search" method="get">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" asp-for="@Model.RouteName" placeholder="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary red-button">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>