.body {
    margin: 0;
    padding: 0;
}

.parent {
    position: relative;
}

.make-friends-div {
    background-color: black;
    opacity: 80%;
    z-index: 1;
    height: 400px;
    position: absolute;
    width: 75%;
    margin-left:10%;
}

.parallax-text {
    color: #BFC0C0!important;
    font-size: 40px;
    font-weight: 400;
    z-index: 2;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    font-family: concbv2;
    width: 75%;
    opacity:100%;
}

.map {
    width: 300px;
}

.row {
    height:400px;
}

.parallax {
    background-image: url("/lib/img/parallax1.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    padding: 0 !important;
}

.newsletter-and-contact {
    margin-bottom: 100px;
}

.space {
    height: 10px;
}

.contact {
    border-left: 1px solid black;
}