/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a:hover{
    text-decoration: none!important;
}

.btn-primary {
    color: #BFC0C0;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #BFC0C0;
    background-color: darkred !important;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
    color: #BFC0C0;
    background-color: darkred !important;
    border-color: #1861ac;
}

.nav > li > a:focus {
    background-color: darkred !important;
}

.nav > li > a:hover {
    background-color: darkred !important;
}

.dropdown-menu {
    background-color: darkred !important;
}

.nav-item > a :hover{
    background-color: darkred !important;
}

.dropdown-item:hover {
    background-color: black !important;
}

.navbar {
    margin-bottom: -1px !important;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
