<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanAndRide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlanAndRide.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <script src="~/js/site.js" /></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlanAndRide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 navbar-nav mr-auto nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-item nav-link text-grey" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Rides
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">My Rides</a>
                                <a class="dropdown-item" href="#">Add Ride</a>
                                <a class="dropdown-item" href="#">Find Ride</a>
                                <a class="dropdown-item" href="#">Nearest Rides</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Routes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Route" asp-action="Index">My Routes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Route" asp-action="Create">Add Route</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Route" asp-action="Index">Find Route</a>
                                <a class="dropdown-item" href="#">Popular Routes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clubs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">My Club</a>
                                <a class="dropdown-item" href="#">Find Club</a>
                                <a class="dropdown-item" href="#">Popular Clubs</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav navbar-right-side quest navbar-nav mr-autov nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-controller="Home" asp-action="Index">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Language
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Polish</a>
                            </div>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav flex-grow-1 navbar-right-side registered-user">
                    <li class="nav-item">
                    <a class="nav-link text-grey" asp-area="" asp-controller="Home" asp-action="Index">Profile</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-grey" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                    </li>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">Polish</a>
                    </li>
                    </ul>*@
                </div>
            </div>
        </nav>
        <a id="top-button"></a>
        <div class="fluid-container parent">
            <div class="header-images">
                <img class="headerBikeImage header-images" src="/lib/img/headerBikeImage.jpg" />
                <img class="black-mesh1 header-images" src="/lib/img/black-mesh1.png" />
                <div class="child d-flex justify-content-center">
                    <h1>
                        <a href="" class="typewrite" data-period="2000"
                           data-type='[ "Create.", "Plan.", "Share & Ride.", "With Friends", "OR", "Get new ones." ]'>
                            <span class="wrap"></span>
                        </a>
                    </h1>
                </div>
                <div class="container scroll-animation">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <span class="text">Scroll down</span>
                </div>
            </div>
        </div>
    </header>

    <div class="fluid-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Plan&Ride app created by <b>dotTeam</b>.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/9d5d0f79a7.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
