<link rel="stylesheet" href="~/css/home.css">

<div class="fluid-container parent">
    <div class="header-images">
        <img class="headerBikeImage header-images" src="/lib/img/eventHeader.jpg" />
        <img class="black-mesh1 header-images" src="/lib/img/black-mesh1.png" />
        <p class="headerTitle">Events</p>
            <span class="headerText">Are you boring? Please, enjoy best events created by our amazing comuniity or make a step foward to create and manage your own event!</span>
        <div class="container scroll-animation" id="scroll-anim">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="text">Scroll down</span>
        </div>
    </div>
</div>