@model PlanAndRide.Web.Models.RouteViewModel

@{
    ViewData["Title"] = "Create";
    var apiKey = ViewData["ApiKey"];
}
<div class="container"> 
<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-lg-8">
        <form asp-action="Create">
            <partial name="_Partials/_CreateEditForm" model="@Model" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary red-button" />
                <a class="btn btn-secondary grey-button" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script async type="text/javascript" src='https://maps.googleapis.com/maps/api/js?libraries=places&key=@apiKey'></script>
<script type="text/javascript">
    window.addEventListener('load', PlacesAutocomplete);
</script>
}
