@model PlanAndRide.Web.Models.RouteViewModel

@{
    ViewData["Title"] = "Delete";
    var apiKey = ViewData["ApiKey"];
}

<div class="container">
    <h3>Are you sure you want to delete this route?</h3>
    <div>


        <div class="col-lg-6 gx-5" style="float:left">
            <hr />
            <h4>@Model.Name</h4>
            <partial name="_Partials/_RouteDetails" model="@Model" />
        </div>

        <div id="map" class="col-lg-6 gx-5" style="float:left"></div>

        <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-danger red-button" />
            <a class="btn btn-secondary grey-button" asp-action="Index">Cancel</a>
        </form>
    </div>
    @section Scripts {
    <script async type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=places&callback=createMapWithRouteDetails'></script>
    }
</div>