@model PlanAndRide.Web.Models.RouteViewModel

@{
    ViewData["Title"] = "Delete";
    var apiKey = ViewData["ApiKey"];
}


<h3>Are you sure you want to delete this route?</h3>
<div>
    

    <div class="col-lg-6 gx-5" style="float:left">
        <hr />
        <h4>@Model.Name</h4>
        <partial name="_Partials/_RouteDetails" model="@Model" />
    </div>

    <div class="col-lg-6 gx-5" style="float:left">
        <partial name="_Partials/_Map" model="@Model" />
    </div>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </form>
</div>
@section Scripts {
<script async type="text/javascript" src='https://maps.googleapis.com/maps/api/js?libraries=places&key=@apiKey'></script>
<script type="text/javascript">
    window.addEventListener('load', LatLngToFormattedAddress);
</script>
}