@model RouteDto

@{
    ViewData["Title"] = "Details";
    var apiKey = ViewData["ApiKey"];
    var showEditButtons = ViewBag.ShowEditButtons ?? false;
    var returnUrl = ViewBag.ReturnUrl;
}

<partial name="_Partials/_Header" model="@Model" />
<div class="container" id="scrollTo">
    <br />
    <h4>@Model.Name</h4>
    <partial name="_Partials/_Rating" model="@Model" />
    <hr />
    <div class="row">
        <div class="col-xl-5 gx-5 order-2 order-xl-1 route-details-section" style="float:left">
            <partial name="_Partials/_RouteDetails" model="@Model" />
        </div>
        
        <div id="map" class="col-xl-7 gx-5 order-1 order-xl-2 route-details-section" style="float:left"></div>
    </div>
    <div class="route-details-section">
        @if (showEditButtons)
        {
            <a class="btn btn-outline-primary red-button" asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
        }
        <a class="btn btn-outline-secondary grey-button" href=@returnUrl>Back</a>
    </div>
</div>

@section Scripts {
    <script async type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=places,geometry&callback=routeDetails'></script>
    <script>
        $('document').ready(showStarRatingForSingleRoute());
    </script>
    <script>
    $(document).ready(function () {
        $('html, body').animate({
            scrollTop: $("#scrollTo").offset().top
        }, 1);
    });
    </script>
}