@model RouteDto

@{
    ViewData["Title"] = "Details";
    var apiKey = ViewData["ApiKey"];
}
<div class="container">
    <br />
    <h4>@Model.Name</h4>
    <partial name="_Partials/_Rating" model="@Model" />
    <hr />
    <div class=row>
        <div class="col-lg-6" style="float:left">
            <br />
            <partial name="_Partials/_RouteDetails" model="@Model" />
        </div>
        
        <div id="map" class="col-lg-6 gx-5" style="float:left"></div>
    </div>
    <div>
        <a class="btn btn-outline-primary red-button" asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
        <a class="btn btn-outline-secondary grey-button" asp-action="Index">Back to routes</a>
    </div>
</div>

@section Scripts {
    <script async type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=places,geometry&callback=routeDetails'></script>
    <script>
        $('document').ready(initRaiting());
    </script>
}