@model PlanAndRide.Web.Models.RouteViewModel

@{
    ViewData["Title"] = "Details";
}
<h4>@Model.Name</h4>

<div class="col-lg-6 gx-5" style="float:left">
    <hr />
    <partial name="_Partials/_RouteDetails" model="@Model"/>
</div>

<div class="col-lg-6 gx-5" style="float:left">
    <partial name="_Partials/_Map" model="@Model" />
</div>

<div style="clear:both">
    <a asp-action="Reviews" asp-route-id="@Model.Id">Reviews</a> | 
    <a asp-action="Edit" asp-route-id=@Model.Id>Edit</a> |
    <a asp-action="Index">Back to Routes</a>
</div>
