@model PlanAndRide.BusinessLogic.Route

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingPosition" class="control-label"></label>
                <input asp-for="StartingPosition" class="form-control" />
                <span asp-validation-for="StartingPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationPosition" class="control-label"></label>
                <input asp-for="DestinationPosition" class="form-control" />
                <span asp-validation-for="DestinationPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShareRoute" /> @Html.DisplayNameFor(model => model.ShareRoute)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPrivate" /> @Html.DisplayNameFor(model => model.IsPrivate)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
