@model PlanAndRide.Web.Models.RoutesCollectionViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Routes</h1>

<p>
    <a asp-action="Create">Create New Route</a>
</p>

<partial name="_Partials/_RoutesList" model="@Model" />

@section scripts{
    <script>
        $(document).ready( function () {
            $('#indexTable').DataTable();
        });
    </script>
    
}



