@model IEnumerable<RouteDto>

@{
    ViewData["Title"] = "Index";
}


<partial name="_Partials/_Header" model="@Model" />
<div class="container" id="scrollTo">
    <h1>Routes</h1>
    <p>
        <div class="button" id="button-animation">
            <div id="translate"></div>
            <a class="submit-button" asp-area="" asp-controller="Route" asp-action="Create">New Route</a>
        </div>
    </p>
    <partial name="_Partials/_RoutesList" model="@Model" />

</div>
@section scripts{
    <script type="text/javascript">
        function scrollToImportantStuff() {
            document.getElementById('button-animation').scrollIntoView()
        }
        window.onload = button-animation;
    </script>

    <script>

        $(document).ready(function() {
            let table = $('#indexTable').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    { "searchable": false },
                    { "searchable": false }
                ]
                //"dom":"<'row'<'col-sm-3'l><'#rating-filter.col-sm-3'><'col'f>>tp"
            });
        });
    </script>
    <script>
        $('document').ready(showStarRatingForRoutesList());
    </script>
}
