@model IEnumerable<RouteDto>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Routes</h1>
    <p>
        <div class="button" id="button-animation">
            <div id="translate"></div>
            <a class="submit-button" asp-area="" asp-controller="Route" asp-action="Create">New Route</a>
        </div>
    </p>
    <partial name="_Partials/_RoutesList" model="@Model" />

</div>
@section scripts{
<script>
    /* Custom filtering function which will search data in column four between two values */
    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
        var min = parseInt($('#min-rating').val(), 10);
        var max = parseInt($('#max-rating').val(), 10);
        var rating = parseFloat(data[3]) || 0; // use data for the rating column
 
        if (
            (isNaN(min) && isNaN(max)) ||
            (isNaN(min) && rating <= max) ||
            (min <= rating && isNaN(max)) ||
            (min <= rating && rating <= max)
        ) {
            return true;
        }
        return false;
    });

    $(document).ready(function() {
        var table = $('#indexTable').DataTable({
                    "columns": [
                        null,
                        null,
                        null,
                        {"searchable":true},
                        {"searchable":false}
                    ]
                });
        $('#min-rating, #max-rating').change(function () {
        table.draw();
    });
    });
</script>
<script>
    $('document').ready(showStarRatingForRoutesList());
</script>
}
