@model IEnumerable<RouteDto>

@{
    ViewData["Title"] = "Index";
    var minRating = ViewBag.MinRating ?? 0;
    var maxRatingValue = 5;
    var minRatingSelectList = new List<SelectListItem>();
    for (int i = 0; i <= maxRatingValue; i++)
    {
        var listItem = new SelectListItem(text: "", value: i.ToString());
        switch (i)
        {
            case 5: listItem.Text = "five stars"; break;
            case 4: listItem.Text = "four stars"; break;
            case 3: listItem.Text = "three stars"; break;
            case 2: listItem.Text = "two stars"; break;
            case 1: listItem.Text = "one star"; break;
            default: listItem.Text = "Any"; break;
        }
        if (i == minRating)
            listItem.Selected = true;
        minRatingSelectList.Add(listItem);
    }
}

<partial name="_Partials/_Header" model="@Model" />
<div class="container">
    <h1>Routes</h1>
    <p>
        <div class="button" id="button-animation">
            <div id="translate"></div>
            <a class="submit-button" asp-area="" asp-controller="Route" asp-action="Create">New Route</a>
        </div>
    </p>
    <div id="min-rating-select">
        <form asp-action="Public" method="get">
            <div class="form-group" id="scrollTo">
                <label class="form-label">Rating from:</label>
                @Html.DropDownList("min", minRatingSelectList, new {@class="",@onchange="this.form.submit()"})
            </div>
        </form>
    </div>
    <partial name="_Partials/_RoutesList" model="@Model" />

</div>
@section scripts{
<script>

    function createRouteRatingFilter() {
        let tableRatingFilterEl = document.getElementById('rating-filter');
        let ratingSelectList = document.getElementById('min-rating-select');
        tableRatingFilterEl.appendChild(ratingSelectList);
    }

    $(document).ready(function() {
        let table = $('#indexTable').DataTable({
                    "columns": [
                        null,
                        null,
                        null,
                        {"searchable":false},
                        {"searchable":false}
                    ],
                    "dom":"<'row'<'col-sm-3'l><'#rating-filter.col-sm-3'><'col'f>>tp"
                });
        createRouteRatingFilter();
    });
</script>
<script>
    $('document').ready(showStarRatingForRoutesList());
</script>
<script>
    $(document).ready(function () {
        $('html, body').animate({
            scrollTop: $("#scrollTo").offset().top
        }, 1);
    });
    </script>
}
