@{
    ViewData["Title"] = "Error";
}
<div class="container">
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">
        An error occurred while processing your request.
        Please try again later.
    </h2>
</div>