@model CreateEditRouteReviewDto

@{
    ViewData["Title"] = "Edit route review";
    var routeName = TempData.Peek("RouteName") ?? "";
}
<div class="container col-md-6 align-items-center"
    <br /><br/>
    <h4>Edit review for route @routeName</h4>
    <hr />
    <div class="row">
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="_Partials/_CreateEditFormFields" model="@Model" />
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary red-button" />
                    <a class="btn btn-outline-secondary grey-button" asp-controller="Route" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
        
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $("#review-description").each(countDescriptionCharacters);
            $("#review-description").keyup(countDescriptionCharacters);
            createEditStarRating($("#rating-value").val());
        });
    </script>
}