@model RoutesCollectionViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css">

<a id="top-button"></a>
<div class="fluid-container parent">
    <div class="header-images">
        <img class="headerBikeImage header-images" src="/lib/img/headerBikeImage.jpg" />
        <img class="black-mesh1 header-images" src="/lib/img/black-mesh1.png" />
        <div class="child d-flex justify-content-center">
            <h1>
                <a href="" class="typewrite" data-period="2000"
                   data-type='[ "Create.", "Plan.", "Share & Ride.", "With Friends", "OR", "Get new ones." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
        <div class="container scroll-animation">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="text">Scroll down</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 home-title-text">
            <p class="home-title-text">Recently added routes</p>
        </div>
        <div class="col-12 last-three-tracks">
            <partial name="_Partials/_LastRoutesList" model=@Model></partial>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="parallax col-12 p-0">
            <div class="container-fluid make-friends-div">
            </div>
            <div class="container parallax-text">Create an account and join your friends rides or make new friends on the rides.</div>
        </div>
    </div>
</div>

<div class="container karuzela">
    <div class="row">
        <div class="col-12 home-title-text">
            <p class="home-title-text nearby-rides">Nearby rides</p>
        </div>
        <div class="col-12 last-three-tracks">
            <partial name="_Partials/_LastRoutesList" model=@Model></partial>
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <partial name="_Partials/_LastRoutesList" model=@Model></partial>
                        </div>
                        <div class="carousel-item">
                            <partial name="_Partials/_LastRoutesList" model=@Model></partial>
                        </div>
                        <div class="carousel-item">
                            <partial name="_Partials/_LastRoutesList" model=@Model></partial>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row newsletter-and-contact">
        <div class="col-6">
            <div class="col-12 newsletter">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Feel free to join our newsletter!</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write you email address here!">
                        <div id="emailHelp" class="form-text">We'll send you one mail per month.</div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="newsletterCheck">
                        <label class="form-check-label" for="newsletterCheck">I agree to the processing of my personal data by Plan & Ride Company for marketing purposes.</label>
                    </div>
                    <div class="space">   </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="newsletterCheck">
                        <label class="form-check-label" for="newsletterCheck">I agree to receive commercial information provided by Plan & Ride Company to the e-mail address provided on my own behalf or at the request of its Business Partners.</label>
                    </div>
                    <div class="space">   </div>
                    <div class="button" id="button-animation">
                        <div id="translate"></div>
                        <a class="submit-button" asp-area="" asp-controller="Home" asp-action="Index">Join</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 contact">
            <div class="col-12 ">
                <p class="Contact">Contact</p>
                <form>
                    <div class="form-group">
                        <label for="ContactFormControlInput">Email address</label>
                        <input type="email" class="form-control" id="ContactFormControlInputEmail" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="ContactFormControlInput">Your name</label>
                        <input class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="ContactFormControlInput">Your message</label>
                        <textarea class="form-control" id="ContactFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="space">   </div>
                    <div class="button" id="button-animation">
                        <div id="translate"></div>
                        <a class="submit-button" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





